body{
  background: #70e1f5;
  background: -webkit-linear-gradient(to left, #70e1f5 , #ffd194);
  background: linear-gradient(to left, #70e1f5 , #ffd194);

  font-family: "Helvetica Neue", "Arial", sans-serif;

  visibility: hidden;
}

#loading{
  visibility: visible;
  text-align: center;

  padding-top: 60px;
}

.ball-pulse-sync > div {
  background: white;
}


/* Introduction */
#intro_section .myName {
  font-weight: 100;
  font-size: 770%;
  color: #F4F0EC;

  padding-top: 160px;
  padding-bottom: 15px;

  text-align: center;
}

#intro_section .slogan{
  font-weight: 200;
  font-size: 250%;
  color: #FFF5EE;

  text-align: center;

  padding-bottom: 50%;
}


/* Description */
#description{
  background: #00C9FF;
  background: -webkit-linear-gradient(to left, #00C9FF , #7BDFC7);
  background: linear-gradient(to left, #00C9FF , #7BDFC7);

  padding-top: 37px;
  padding-bottom: 45px;

  box-shadow: 0px -10px 80px -20px #444;
}

#description .title{
  font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-weight: 200;
  font-size: 42px;
  color: #525252;
}

#description .avatar {
  float: left;

  margin-top: 20px;
}

#description .avatar img{
  height: 250px;
  object-fit: fill;

  border-radius: 5px;
}

#description .content {
  margin-left: 500px;
  text-align: center;

  color: #EFF0F8;
  font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-weight: 200;
  font-size: 24px;
  margin-top: 20px;
}

/*My Works*/
#my_works{
  background: #ECE9E6;
  background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF);
  background: linear-gradient(to left, #ECE9E6 , #FFFFFF);

  padding-top: 20px;
  padding-bottom: 20px;
}

.my_works_title{
  font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 72px;
  line-height: 1.0556;
  font-weight: 200;
  letter-spacing: -0.024em;
  margin-bottom: 0;

  color: #444;

  padding-top: 20%;
}

.my_works_desc{
  font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 18px;
  line-height: 1.1429;
  font-weight: 200;
  letter-spacing: -0.01em;
  color: #333;
  text-align: left;

  padding-top: 20px;
  padding-bottom: 50px;
  width: 600px;
  float: left;
}

.my_works_title_img {
  float: right;
}

.my_works_title_img img {
  object-fit: fill;
  height: 270px;
  -webkit-filter: drop-shadow(2px 2px 15px rgba(0,0,0,0.5));
}

.my_works_content {
  padding-top: 27%;
}

.my_works_content ul li{
  padding-top: 50px;
  padding-bottom: 50px;
  list-style: none;
  overflow: hidden;
}

.my_works_content .title_left{
  font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 38px;
  text-align: left;
}

.my_works_content .title_right{
  font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 38px;
  text-align: right;

}

.my_works_content .content_left {
  width: 500px;
  float: left;
  text-align: left;
}

.my_works_content .content_right {
  width: 500px;
  float: right;
  text-align: right;
}

.my_works_content .img_left {
  float: left;
}

.my_works_content .img_right{
  float: right;
}

.my_works_content .img_right img{
  object-fit: fill;
  height: 350px;
}

.my_works_content .img_left img{
  object-fit: fill;
  height: 350px;
}

/* Social */
.social_container {
  padding-top: 12%;
  padding-bottom: 50px;
}

.social_title {
  text-align: center;
  font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 72px;
  line-height: 1.0556;
  font-weight: 200;
  letter-spacing: -0.024em;
  margin-bottom: 0;

  color: #444;
  padding-bottom: 20px;
}

.social_glyph{
  text-align: center;
}

.social_glyph i {
  padding-right: 50px;
  padding-left: 50px;
  color: #333;
}

/*Footer*/
footer {
  padding-top: 20px;
  padding-bottom: 10px;
  box-shadow: 0px -5px 80px -20px #444;
}

footer .cnt_header {
  font-weight: normal;
  font-size: 145%;
  color: #4A4A4A;
}

footer .cnt_content li{
  list-style: none;
  font-size: 100%;
  color: #5E5E5E;
}

footer .foot_cr {
  padding-top: 5px;

  text-align: center;
  font-size: 13px;
  color: #7E7D82;
}

footer .foot_note {
  padding-top: 5px;

  text-align: center;
  font-size: 11px;
  color: #999;
}

/* Glyphs*/
.glyph{
  text-align: center;
}

.glyph i{
  padding-left: 15px;
  padding-right: 15px;

  color: #333;
}

.size-48 {
  font-size: 48px;
}

.size-60 {
  font-size: 60px;
}

/*Blinking Cursor Initial*/
.blinking-cursor {
  font-weight: normal;
  font-size: 100%;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}
@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #A1A1A1;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #A1A1A1;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #A1A1A1;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #A1A1A1;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #A1A1A1;
  }
}
